In [2]:
# Import
from datetime import time
import pandas as pd
from pandas import DataFrame
import csv
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
df1 = pd.read_csv("raayngaancchamnwnphuutidechuue-covid-19-pracchamwan0.csv", encoding="utf-8-sig")
df2 = pd.read_csv("raayngaancchamnwnphuutidechuue-covid-19-pracchamwanerimtangaetwanthii-12-singhaakhm-25640.csv", encoding="utf-8-sig")

# df['Key'] = df['Key'].astype(str)

In [4]:
df1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

In [5]:
df2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [7]:
df = pd.concat([df1, df2])

# Change data type

In [9]:
df.dtypes

No.                       int64
announce_date            object
Notified date            object
sex                      object
age                      object
Unit                     object
nationality              object
province_of_isolation    object
risk                     object
province_of_onset        object
district_of_onset        object
dtype: object

In [10]:
df['year_ef'] = df['EFFECTIVE_DATE'].dt.year

KeyError: 'EFFECTIVE_DATE'

In [11]:
date_col = ['announce_date', 'Notified date']
for col in date_col:
    df[col] = pd.to_datetime(df[col])

In [12]:
df.dtypes

No.                               int64
announce_date            datetime64[ns]
Notified date            datetime64[ns]
sex                              object
age                              object
Unit                             object
nationality                      object
province_of_isolation            object
risk                             object
province_of_onset                object
district_of_onset                object
dtype: object

In [15]:
# do year month day every col of date
df['year_an'] = df['announce_date'].dt.year

In [14]:
for col in list(df.select_dtypes(['object']).columns):
    print('-----', col, '-----')
    print(df[col].value_counts())

----- sex -----
หญิง    916333
ชาย     862998
นาย          8
Name: sex, dtype: int64
----- age -----
25.0     41742
26.0     40744
24.0     40662
27.0     40346
28.0     40142
         ...
2.5          1
3.9          1
10.73        1
11.4         1
97           1
Name: age, Length: 253, dtype: int64
----- Unit -----
ปี        1719350
เดือน        6119
วัน           422
 เดือน         22
 วัน            1
Name: Unit, dtype: int64
----- nationality -----
Thailand           1521026
Burmese             110912
Cambodian            31909
Thai                 20632
Burma                18759
                    ...
Maldives                 1
IRISH                    1
Sierra Leone             1
British/English          1
Greek                    1
Name: nationality, Length: 266, dtype: int64
----- province_of_isolation -----
กรุงเทพมหานคร    425827
สมุทรปราการ      125600
สมุทรสาคร        111279
ชลบุรี           103740
นนทบุรี           65758
                  ...
มุกดาหาร           2290
บึงกาฬ             2000
พะเยา              1978
แพร่               1810
แม่ฮ่องสอน         1377
Name: province_of_isolation, Length: 78, dtype: int64
----- risk -----
สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้         778074
อื่นๆ                                               442452
การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน    233642
อยู่ระหว่างการสอบสวน                                184185
ทัณฑสถาน/เรือนจำ                                     73075
                                                     ...
อาชีพเสี่ยง                                              1
Cluster โรงงานทำขนม บางขุนเทียน                          1
รับจ้างขนของที่ตลาดท่ายาง                                1
SHUI                                                     1
cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)                   1
Name: risk, Length: 134, dtype: int64
----- province_of_onset -----
กรุงเทพมหานคร    381993
สมุทรปราการ      123543
ชลบุรี           102709
สมุทรสาคร         99388
นนทบุรี           69391
                  ...
กรุงเทพ               1
เพชรบุุรี             1
นครนปฐม               1
ยานนาวา               1
นครปบม                1
Name: province_of_onset, Length: 234, dtype: int64
----- district_of_onset -----
เมือง                                 85142
เมืองสมุทรสาคร                        62227
เมืองสมุทรปราการ                      48621
ศรีราชา                               27298
บางพลี                                26861
                                      ...
อ.หล่มสักจ.เพชรบูรณ์                      1
ระวิง                                     1
บางเทา                                    1
อ.บางบัวทอง   จ.นนทบุรี                   1
ตำรวจ สน.วัดพระยาไกร กรุงเทพมหานคร        1
Name: district_of_onset, Length: 4485, dtype: int64

# Cleansing and fill data

In [16]:
# check NaN
df.isna().sum()

No.                           0
announce_date                 0
Notified date              2795
sex                      102600
age                      156162
Unit                     156025
nationality              163240
province_of_isolation       272
risk                       1094
province_of_onset        243608
district_of_onset        314726
year_ef                       0
dtype: int64

In [17]:
df['sex'].value_counts()

หญิง    916333
ชาย     862998
นาย          8
Name: sex, dtype: int64

In [18]:
df['age'].value_counts()

25.0     41742
26.0     40744
24.0     40662
27.0     40346
28.0     40142
         ...
2.5          1
3.9          1
10.73        1
11.4         1
97           1
Name: age, Length: 253, dtype: int64

In [22]:
df['age'] = df['age'].fillna('0')
df['sex'] = df['sex'].fillna('unknow')
df['Unit'] = df['Unit'].fillna('unknow')
df['nationality'] = df['nationality'].fillna('unknow')
df['province_of_isolation'] = df['province_of_isolation'].fillna('unknow')
df['risk'] = df['risk'].fillna('unknow')
df['province_of_onset'] = df['province_of_onset'].fillna('unknow')
df['district_of_onset'] = df['district_of_onset'].fillna('unknow')

In [23]:
df.isna().sum()

No.                         0
announce_date               0
Notified date            2795
sex                         0
age                         0
Unit                        0
nationality                 0
province_of_isolation       0
risk                        0
province_of_onset           0
district_of_onset           0
year_ef                     0
dtype: int64

In [24]:
df['sex'].value_counts()
# revalue th to eng

หญิง      916333
ชาย       862998
unknow    102600
นาย            8
Name: sex, dtype: int64

In [25]:
df['age'].value_counts()

0        156162
25.0      41742
26.0      40744
24.0      40662
27.0      40346
          ...
2.8           1
3.11          1
1.3           1
2.5           1
114.0         1
Name: age, Length: 254, dtype: int64

In [26]:
df.dropna(inplace=True)

In [27]:
df.isna().sum()

No.                      0
announce_date            0
Notified date            0
sex                      0
age                      0
Unit                     0
nationality              0
province_of_isolation    0
risk                     0
province_of_onset        0
district_of_onset        0
year_ef                  0
dtype: int64

In [28]:
df_ = df.drop(['No.'], axis=1)
df_

,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,year_ef
47,2020-06-03,2020-04-03,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน,2020
124,2021-06-03,2021-05-03,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี,2021
161,2020-03-17,2020-03-21,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง,2020
181,2020-03-18,2020-03-15,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง,2020
186,2020-03-18,2020-03-16,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ,2020
...,...,...,...,...,...,...,...,...,...,...,...
1042163,2021-10-25,2021-10-24,ชาย,45.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042164,2021-10-25,2021-10-24,ชาย,31.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042165,2021-10-25,2021-10-24,ชาย,31.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042166,2021-10-25,2021-10-24,ชาย,24.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042167,2021-10-25,2021-10-24,ชาย,25.0,ปี,unknow,เชียงใหม่,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021

In [29]:
len(df_)

1879144

In [30]:
df_.duplicated().sum()

465034

In [31]:
df_[df_.duplicated()]
# Duplicate Rows except last occurrence based on all columns are :

,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,year_ef
341,2020-03-21,2020-03-20,ชาย,52.0,ปี,Thailand,กรุงเทพมหานคร,สนามมวย,กรุงเทพมหานคร,unknow,2020
348,2020-03-21,2020-03-20,ชาย,36.0,ปี,Thailand,กรุงเทพมหานคร,สนามมวย,กรุงเทพมหานคร,unknow,2020
350,2020-03-21,2020-03-20,ชาย,47.0,ปี,Thailand,กรุงเทพมหานคร,สนามมวย,กรุงเทพมหานคร,unknow,2020
351,2020-03-21,2020-03-20,ชาย,48.0,ปี,Thailand,นนทบุรี,สนามมวย,นนทบุรี,unknow,2020
376,2020-03-21,2020-03-20,หญิง,26.0,ปี,Thailand,ประจวบคีรีขันธ์,คนไทยเดินทางกลับจากต่างประเทศ,ประจวบคีรีขันธ์,หัวหิน,2020
...,...,...,...,...,...,...,...,...,...,...,...
1042153,2021-10-25,2021-10-24,ชาย,0,unknow,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042159,2021-10-25,2021-10-24,ชาย,31.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042162,2021-10-25,2021-10-24,ชาย,26.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042164,2021-10-25,2021-10-24,ชาย,31.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042165,2021-10-25,2021-10-24,ชาย,31.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021

In [32]:
df_[df_.duplicated(keep=False)]
# All Duplicate Rows based on all columns are :

,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,year_ef
328,2020-03-21,2020-03-20,ชาย,36.0,ปี,Thailand,กรุงเทพมหานคร,สนามมวย,กรุงเทพมหานคร,unknow,2020
335,2020-03-21,2020-03-20,ชาย,48.0,ปี,Thailand,นนทบุรี,สนามมวย,นนทบุรี,unknow,2020
337,2020-03-21,2020-03-20,ชาย,52.0,ปี,Thailand,กรุงเทพมหานคร,สนามมวย,กรุงเทพมหานคร,unknow,2020
341,2020-03-21,2020-03-20,ชาย,52.0,ปี,Thailand,กรุงเทพมหานคร,สนามมวย,กรุงเทพมหานคร,unknow,2020
345,2020-03-21,2020-03-20,ชาย,47.0,ปี,Thailand,กรุงเทพมหานคร,สนามมวย,กรุงเทพมหานคร,unknow,2020
...,...,...,...,...,...,...,...,...,...,...,...
1042157,2021-10-25,2021-10-24,ชาย,26.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042159,2021-10-25,2021-10-24,ชาย,31.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042162,2021-10-25,2021-10-24,ชาย,26.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042164,2021-10-25,2021-10-24,ชาย,31.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042165,2021-10-25,2021-10-24,ชาย,31.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021

In [33]:
df_2 = df_.drop_duplicates()
df_2

,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,year_ef
47,2020-06-03,2020-04-03,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน,2020
124,2021-06-03,2021-05-03,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี,2021
161,2020-03-17,2020-03-21,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง,2020
181,2020-03-18,2020-03-15,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง,2020
186,2020-03-18,2020-03-16,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ,2020
...,...,...,...,...,...,...,...,...,...,...,...
1042160,2021-10-25,2021-10-24,ชาย,32.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042161,2021-10-25,2021-10-24,ชาย,29.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042163,2021-10-25,2021-10-24,ชาย,45.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042166,2021-10-25,2021-10-24,ชาย,24.0,ปี,unknow,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021
1042167,2021-10-25,2021-10-24,ชาย,25.0,ปี,unknow,เชียงใหม่,ทัณฑสถาน/เรือนจำ,unknow,unknow,2021

In [34]:
len(df_2)

1414110

In [26]:
df_2['age'] = df_2['age'].astype(int)
df_2['year_ef'] = df_2['year_ef'].astype(int)

In [27]:
df_2

,Key,REGION_DESC,REGION_ZONE,PROVINCE,SEX,MARITAL_STATUS,TOTAL_INCOME_RANGE,KA_PERSONAL_SEGMENT,AGE_AS_OF_APPLIED_CALC_GROUP1,EFFECTIVE_DATE,EXPIRE_DATE,AUTO_REGISTRATION_DATE,AUTO_BRAND_DESC,AUTO_NEW_USED,AUTO_TYPE_GROUP,INSURANCE_COMPANY_CODE,TOTAL_PREMIUM,SUM_INSURED_AMT,year_ef
0,0,BKK,SUBURB,กรุงเทพมหานคร,FEMALE,SINGLE,25001-40000,UPC Middle Income,36 - 50,2018-01-13,2019-02-13,2006-05-29,มิตซูบิชิ,USED,PU,SMK,8755,210000,2018
1,1,Central,UPC_BIGCITY,ชลบุรี,FEMALE,MARRIED,12001-25000,Mass Income Couple,36 - 50,2019-07-04,2020-07-04,2011-04-28,อี.ซู.ซุ,NEW,PU,VIB,10600,250000,2019
2,2,Central,UPC_BIGCITY,ชลบุรี,FEMALE,MARRIED,12001-25000,Mass Income Couple,36 - 50,2018-07-04,2019-07-04,2011-04-28,อี.ซู.ซุ,NEW,PU,VIB,10620,260000,2018
3,3,Northeast,UPC_BIGCITY,ขอนแก่น,MALE,MARRIED,25001-40000,Business Owner,Above 60,2018-07-01,2019-07-01,2012-08-02,อี.ซู.ซุ,NEW,PUPA,TPI,11444,370000,2018
4,4,Northeast,UPC_NORTHEAST,อุบลราชธานี,FEMALE,MARRIED,40001-70000,Agricuturist Couple,36 - 50,2018-01-29,2019-01-29,2012-08-05,มิตซูบิชิ,NEW,PU,THI,11608,290000,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677339,677339,South,UPC_SOUTH,ตรัง,MALE,SINGLE,12001-25000,First Jobber,26 - 30,2021-08-05,2022-08-05,2015-12-28,อี.ซู.ซุ,USED,PU,SE,4000,400000,2021
677340,677340,Northeast,UPC_NORTHEAST,ขอนแก่น,MALE,SINGLE,12001-25000,First Jobber,Below 23,2021-04-27,2022-04-27,2016-11-05,โตโยต้า,USED,PU,IOI,12999,350000,2021
677341,677341,Northeast,UPC_NORTHEAST,สุรินทร์,MALE,SINGLE,12001-25000,First Jobber,26 - 30,2021-04-28,2022-04-28,2016-04-27,โตโยต้า,USED,PU,TMS,16500,470000,2021
677342,677342,Central,UPC_EAST,จันทบุรี,MALE,SINGLE,12001-25000,First Jobber,36 - 50,2021-05-13,2022-05-13,2020-03-16,โตโยต้า,USED,PU,IOI,14499,500000,2021
677343,677343,South,UPC_SOUTH,สงขลา,MALE,WIDOW,12001-25000,UPC Middle Income,36 - 50,2021-10-05,2022-10-05,2011-01-20,โตโยต้า,USED,PU,TV,4300,330000,2021